<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>{{subject}}</title>
</head>
<body style='margin: 0; padding: 0; font-family: Arial, sans-serif;'>
  <div style='max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff;'>
    <h1 style='color: #1c1b1b; text-align: center;'>{{title}}</h1>
    <p style='color: #333333;'>{{description}}</p>
    <div style='display: flex; align-items: center; justify-content: center;'>
        <a href={{buttonLink}} style="cursor: pointer"><button style='background-color: black; color: white; border-radius: 10px; padding: 10px; border:none; cursor: pointer;'>{{buttonText}}</button></a>
    </div>
  </div>
</body>
</html>
